{% extends "base.html" %}

{% block content %}
<div>
    {%if logout%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Successfuly logged out.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <div class ="jumbotron">
        <h1 class="display-4">
            Welcome to FitTracker!
        </h1>
        <hr class="my-4">
        <p class="lead">
            Build workout programs or track ongoing workout progress using this one stop shop tool. 
        </p>
    </div>
</div>


{% endblock %}