{% include "base.html" %}

{% block content %}
    <h3 class="text-center display-2">Reset Password</h3>
    <div class="mx-auto border border-secondary h-75 w-50" style="margin: 2em">

    <form action="" method="post" class="p-1">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32, class_="form-control") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32, class_="form-control") }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
        </div>

    </form>
    </div>
{% endblock %}
