{% extends "base.html" %}

{% block content %}
<div>
    {%if logout%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Successfuly logged out.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <div class ="jumbotron">
        <h1 class="display-4">
            Welcome to FitTracker!
            <img style="float: right" src="/static/img1.jpg" alt="WorkoutImage" width="200" height="100">

        </h1>
        <hr class="my-4">
        <div>
            <p class="lead">
                Build workout programs or track ongoing workout progress using this one stop shop tool. 
           
            </p>
            <a class="btn btn-primary" href="{{url_for('auth.signup')}}">Sign Up</a>
            <a class="btn btn-primary" href="{{url_for('auth.login')}}">Login</a>

        </div>

    </div>
</div>


{% endblock %}